@using System.Security.Claims
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.DataAccess
@using bacit_dotnet.MVC.Entities
@model bacit_dotnet.MVC.Models.Suggestion.SuggestionDetailsModel
@{
    ViewBag.Title = "Propositio | " + Model.suggestion.title;
}
<div class="container details-container mt-5">
    @if (ViewBag.Message != "")
    {
        @ViewBag.Message
    }
    <div class="row d-flex justify-content-end">
        @if (Model.suggestion.author.emp_id == Int32.Parse(Context.User.FindFirstValue(ClaimTypes.UserData)) || Context.User.FindFirst(ClaimTypes.Role).ToString().Split(" ")[1].Equals("Admin"))
        {
            <a asp-action="Edit" asp-controller="Suggestion" asp-route-id="@Model.suggestion.suggestion_id" class="fw-light text-end">Rediger Forslag</a>
        }
    </div>
    <!--Topprad (Tittel, Markert)-->

    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <h4 class="fw-bold text-start">@Model.suggestion.title</h4>
        </div>
        <div class="col-3 d-flex">
            @if (Model.suggestion.favorite)
            {
                <img src="/img/bootstrap-icons-1.9.1/bookmark-star-fill.svg" alt="Bootstrap" width="24" height="24" class="justify-content-center" />
                <p class="m-0 fw-light">Månedens Forslag!</p>
            }

        </div>
    </div>
    <!--Mellomrad (Info om forfatter/ansvarlig/dato og status)-->
    <div class="row d-flex justify-content-left">
        <div class="col-8">
            <p class="m-0 fw-light">Skrevet Av:</p>
            <p class="m-0">@Model.employee.name</p>
            <p class="m-0 fw-light">Ansvarlig:</p>
            <p class="m-0">@Model.suggestion.responsible_employee.name</p>
        </div>

        <div class="col-4 justify-content-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div id="circle-container">

                    @switch (Model.suggestion.status)
                    {
                        case STATUS.PLAN:
                            <div class="quarter top-left hiddenCircle"></div>
                            <div class="quarter top-right"></div>
                            <div class="quarter bottom-left hiddenCircle"></div>
                            <div class="quarter bottom-right hiddenCircle"></div>
                            <div class="fill-circle">
                                <p class="text-center">@Model.suggestion.status.ToString()</p>
                            </div>
                            break;
                        case STATUS.DO:
                            <div class="quarter top-left hiddenCircle"></div>
                            <div class="quarter top-right"></div>
                            <div class="quarter bottom-left hiddenCircle"></div>
                            <div class="quarter bottom-right"></div>
                            <div class="fill-circle">
                                <p class="text-center">@Model.suggestion.status.ToString()</p>
                            </div>
                            break;
                        case STATUS.STUDY:
                            <div class="quarter top-left hiddenCircle"></div>
                            <div class="quarter top-right"></div>
                            <div class="quarter bottom-left"></div>
                            <div class="quarter bottom-right"></div>
                            <div class="fill-circle">
                                <p class="text-center">@Model.suggestion.status.ToString()</p>
                            </div>
                            break;
                        case STATUS.ACT:
                            <div class="quarter top-left"></div>
                            <div class="quarter top-right"></div>
                            <div class="quarter bottom-left"></div>
                            <div class="quarter bottom-right"></div>
                            <div class="fill-circle">
                                <p class="text-center">@Model.suggestion.status.ToString()</p>
                            </div>
                            break;
                        case STATUS.FINISHED:
                            <div class="quarter top-left finished"></div>
                            <div class="quarter top-right finished"></div>
                            <div class="quarter bottom-left finished"></div>
                            <div class="quarter bottom-right finished"></div>
                            <div class="fill-circle">
                                <p class="text-center">Ferdig!</p>
                            </div>
                            break;
                        case STATUS.JUSTDOIT:
                            <div class="quarter top-left jdi"></div>
                            <div class="quarter top-right jdi"></div>
                            <div class="quarter bottom-left jdi"></div>
                            <div class="quarter bottom-right jdi"></div>
                            <div class="fill-circle">
                                <p class="text-center">Just Do It</p>
                            </div>
                            break;
                    }
                </div>
            </a>
            @if (Model.suggestion.status != STATUS.FINISHED && (Model.suggestion.author.emp_id == Int32.Parse(Context.User.FindFirstValue(ClaimTypes.UserData)) || Context.User.FindFirst(ClaimTypes.Role).ToString().Split(" ")[1].Equals("Admin")))
            {
                <a asp-controller="suggestion" asp-action="UpdateStatus" asp-route-suggestion_id="@Model.suggestion.suggestion_id" asp-route-status="@Model.suggestion.status" class="btn btn-primary btn-sm mt-1">  Neste Fase</a>
            }
        </div>
    </div>
    <div class="col-4">
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 mt-1  justify-content-end">
        <p class="m-0"><span class="fw-light">Opprettet: </span> @Model.suggestion.timestamp.createdTimestamp.ToString("dd/M/yyyy")<span class="fw-light due">  Frist: </span><span class="due"> @Model.suggestion.timestamp.dueByTimestamp.ToString("dd/M/yyyy")</span></p>
    </div>

</div>
<hr />
<!--Beskrivelse-->
<div class="row mb-2">
    <div class="row align-item-start mt-2">
        <p class="mb-1 fw-light">Beskrivelse:</p>
        <div class="col sugg-description">@Model.suggestion.description</div>
    </div>
</div>
<div class="row">
    <!--Bilder-->
    @if (@Model.suggestion.images.ElementAt(0) != null)
    {

        <div class="col-6">
            <p class="m-0 fw-light">Før:</p>
            <img src="@Url.Content(FilePathBuilder.GetRelativeFilepath(Model.suggestion.images.ElementAt(0).image_filepath))" class="userimg" height="100px" width="100px" />
        </div>
    }
    @if (Model.suggestion.images.Count > 1 && Model.suggestion.images.ElementAt(1) != null)
    {
        <div class="col-6">
            <p class="m-0 fw-light">Etter:</p>
            <img src="@Url.Content(FilePathBuilder.GetRelativeFilepath(Model.suggestion.images.ElementAt(0).image_filepath))" class="userimg" height="100px" width="100px" />
        </div>
    }
</div>
<!--Kategorier-->
<p class="mt-2 mb-0 sugg-category fw-light">Kategorier: </p>
<div class="row">
    <div class="d-flex justify-content-start">

        <hr />
        @foreach (var category in Model.suggestion.categories)
        {
            <div class="category">
                <p class="fw-light text-center"> @(category.category_name += " ")</p>
            </div>
        }

    </div>
</div>
<div>
<p class="due m-0"><span class="fw-light">Oppdatert: </span>@Model.suggestion.timestamp.lastUpdatedTimestamp.ToString("dd/M/yyyy")</p>
</div>

<!--List alle kommentarer-->
<div class="row d-flex justify-content-sm-start mt-4">
    <div class="col-md-12 col-lg-12">
        <h5 class="fw-light">Kommentarer</h5>
        <div class="card bg-light mb-3">
            <div class="card-body p-2">
                @foreach (CommentEntity comment in Model.suggestion.comments)
                {
                    if (comment != null)
                    {
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <h6 class="fw-bold mb-1">
                                    @comment.poster.name
                                </h6>
                            </div>
                            @if (comment.poster.emp_id == Int32.Parse(Context.User.FindFirstValue(ClaimTypes.UserData)) || Context.User.FindFirst(ClaimTypes.Role).ToString().Split(" ")[1].Equals("Admin"))
                            {
                                <div class="d-flex flex-row align-items-center">
                                    <a><i class="fas fa-pencil-alt smallbutton link-muted" onclick="myFunction(@comment.comment_id)"></i></a>
                                    &nbsp;&nbsp;&nbsp;
                                    @Html.ActionLink("", "DeleteComment", "Suggestion", new {comment_id = comment.comment_id, suggestion_id = Model.suggestion.suggestion_id}, new{onclick = "return confirm('Er du sikker på at du vil slette kommentaren?')", @class="link-muted fas fa-trash"})
                                </div>
                            }
                        </div>
                        <div class="col align-items-center mb-3">
                            <p class="mb-0" id="comment @comment.comment_id">@comment.description</p>
                            <div id="editcommentForm @comment.comment_id" style="display:none">
                                <form asp-controller="Suggestion" asp-action="EditComment" method="post">
                                    <input name="comment_id" value="@comment.comment_id" hidden />
                                    <input name="createdTimestamp" value="@comment.createdTimestamp" hidden />
                                    <input name="suggestion_id" value="@Model.suggestion.suggestion_id" hidden />
                                    <input name="description" type="text" class="form-control" placeholder="@comment.description" />
                                    <button type="submit" class="btn btn-outline-success">Lagre endringer</button>
                                </form>
                                <button class="btn btn-outline-danger" onclick="myFunction(@comment.comment_id)" style="display: inline">Avbryt</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <p class="mb-0" style="font-size:small">
                                <em>@comment.createdTimestamp.ToString("dd/M/yyyy") </em>
                            </p>
                            @if (comment.lastUpdatedTimestamp.Year != 1)
                            {
                                <p class="mb-0" style="font-size:small">
                                    <em><span class="fw-light">Endret: </span>@comment.lastUpdatedTimestamp.ToString("dd/M/yyyy")</em>
                                </p>
                            }
                        </div>
                        <hr />
                    }
                }
            </div>
        </div>
    </div>

    <form asp-action="CreateComment" asp-controller="suggestion" method="post">
        <input name="suggestion_id" value="@Model.suggestion.suggestion_id" hidden />
        <!--Lage en ny kommentar-->
        <div class="form-group">
            <textarea name="description" class="form-control" id="description" placeholder="Skriv inn kommentar..." value="@Model.description"></textarea>

        </div>
        <div class="row d-flex justify-content-sm-end">
            <div class="mt-2 mb-5 text-right">
                <button class="btn btn-outline-primary btn-sm px-3 shadow-none" type="button">Avbryt</button>
                <button class="btn btn-primary btn-sm px-4 shadow-none" type="submit">Kommenter</button>

            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stempel:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (Model.suggestion.timestamp.createdTimestamp.Year != 1)
                {
                    <p>Startet/Plan:</p>
                    @Model.suggestion.timestamp.createdTimestamp.ToString("dd/M/yyyy")

                }

                @if (Model.suggestion.timestamp.doTimestamp.Year != 1)
                {
                    <p>Do:</p>
                    @Model.suggestion.timestamp.doTimestamp.ToString("dd/M/yyyy")

                }

                @if (Model.suggestion.timestamp.studyTimestamp.Year != 1)
                {
                    <p>Study:</p>
                    @Model.suggestion.timestamp.studyTimestamp.ToString("dd/M/yyyy")

                }
                @if (Model.suggestion.timestamp.actTimestamp.Year != 1)
                {
                    <p>Act:</p>

                    @Model.suggestion.timestamp.actTimestamp.ToString("dd/M/yyyy")

                }


                @if (Model.suggestion.timestamp.actTimestamp.Year != 1)
                {
                    <p>Ferdig:</p>
                    @Model.suggestion.timestamp.finishedTimestamp.ToString("dd/M/yyyy")
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Lukk</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function myFunction(id) {
        var form = document.getElementById("editcommentForm " + id);
        var comment = document.getElementById("comment " + id);
        if (form.style.display === "none") {
            form.style.display = "block";
            comment.style.display = "none";
        } else {
            form.style.display = "none";
            comment.style.display = "block";
        }
    }
</script>