<html>
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model bacit_dotnet.MVC.Models.Suggestion.SuggestionDetailsModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Propositio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
</head>
<body>
    <div class="container details-container mt-5">
        <div class="row">            
            <div class="col-sm-4">
                <h3 class="fw-bold suggtitle2">@Model.suggestion.title</h3>
            </div>          
        </div>
        <div class="d-flex justify-content-between">
            <p class="mt-3 emp-name">@Model.employee.name</p>
            <p class="mt-3 text-center emp_team">@foreach(var team in Model.employee.teams)
                {
                    @(team.team_name +=" ");
                }   
            Team
            </p>
        
            <div class="d-flex flex-row align-items-center">                
                <p class="mt-3 mx-2 @Model.suggestion.status"></p>
                <p class="mt-3 mx-2 sugg-status">@Model.suggestion.status</p>
            </div>
        </div>
        <div class="row">
                <div class="d-flex justify-content-between">
                    <p class="mt-2 sugg-category">Kategorier:
                        @foreach (var category in Model.suggestion.categories)
                        {
                            @(category.category_name += " ")
                            ;
                        }
                    </p>
                </div>
        </div>                              
        <div class="row">
            <div class="row align-item-start mt-2">
                <div class="col sugg-description">@Model.suggestion.description</div>            
            </div>  
            <div class="row justify-content-between mt-2">
                <div class="col-4">
                    <div class="made">Opprettet: @Model.suggestion.timestamp.createdTimestamp.ToString("dd/mm/yyyy")</div>
                </div>
               
                <div class="col-4">
                    <div class="due">Frist: @Model.suggestion.timestamp.dueByTimestamp.ToString("dd/mm/yyyy")</div>
                </div>
            </div>
        </div>
        <!--List alle kommentarer-->
        <div class="row d-flex justify-content-sm-start mt-4">
            <div class="col-md-12 col-lg-12">
                <div class="card bg-light mb-3">
                    <div class="card-header text-black"><h5>Kommentarer</h5></div>
                    <div class="card-body p-2">  
                        @foreach (CommentEntity comment in Model.suggestion.comments)
                        {
                            <div class="d-flex justify-content-between"> 
                                <div class="d-flex flex-row align-items-center">
                                    <h6 class="fw-bold mb-1">
                                        @comment.poster.name
                                    </h6>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <a asp-action="Endre" asp-controller="suggestion" class="link-muted"><i class="fas fa-pencil-alt"></i></a>
                                    &nbsp;&nbsp;&nbsp;
                                    <a asp-action="Slett" asp-controller="suggestion" class="link-muted"><i class="fas fa-trash-alt"></i></a>
                                </div>                                
                            </div>
                           
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0" style="font-size:small">
                                    <em>@comment.createdTimestamp.ToString()</em>
                                </p>
                            </div>
                            <div class="col align-items-center mb-3">                               
                                <p class="mb-0">@comment.description</p>
                            </div>
                            <hr />
                        }                        
                    </div>                    
                </div>                 
            </div>
           
        <form asp-action="CreateComment" asp-controller="suggestion" method="post">
            <input name="suggestion_id" value="@Model.suggestion.suggestion_id" hidden/>
            <!--Lage en ny kommentar-->
            <div class="form-group">
                    <textarea name="description" class="form-control" id="description" placeholder="Skriv inn kommentar..." value="@Model.description"></textarea>
            </div>
            <div class="row d-flex justify-content-sm-end">
                 <div class="mt-2 mb-5 text-right">
                    <button class="btn btn-outline-primary btn-sm px-3 shadow-none" type="button">Avbryt</button>
                    <button class="btn btn-primary btn-sm px-4 shadow-none" type="submit">Send</button>
                    
                </div>        
            </div>
        </form>
        </div>
    </div>
</body>
</html>

