@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models;
@model bacit_dotnet.MVC.Models.EmployeeSuggestionViewModel
<br />
<h1>Alle Forslag</h1>
<br />

@foreach (EmployeeEntity emp in Model.employees)
{
    @foreach (SuggestionEntity sugg in emp.suggestions)
    {
        if (emp.suggestions.Count > 0)
        {
            <div class="container sugg-container">
                <div class="row sugg-info">
                    <div class="col-2">@emp.name   @emp.authorizationRole</div>
                    <div class="col-6">
                        @foreach (var team in emp.teams)
                        {
                            @(team.team_name += " ")
                            ;
                        }   
                    </div>
                    <div class="col-2 @sugg.status"></div>
                    <div class="col-2">@sugg.status</div>
                </div>
            
                <div class="row">
                    <div class="col-10">
                        <p class="suggtitle">@sugg.title</p>
                        <p>@sugg.description</p>
                    </div>
                    <div class="col-2"></div>
                </div>
                <hr />
                <div class="row test">
                    <div class="col-8 categories"> Kategorier: 
                        @foreach (var category in sugg.categories)
                        {
                            @(category.category_name += " ")
                            ;
                        }
                        <br>
                    <a asp-controller="Suggestion" asp-action="Details" asp-route-id = "@sugg.suggestion_id">Detailjer... (MIDLERTIDIG)</a>
                    </div>
                    <div class="col-4 date">
                        <span class="made">Opprettet: @sugg.timestamp.createdTimestamp.ToString("dd/M/yyyy")</span>
                        <br>
                        <span class="due">Frist: @sugg.timestamp.dueByTimestamp.ToString("dd/M/yyyy")</span>

                    </div>

                </div>
            </div>
            <hr />
        }
    }
}