@using Org.BouncyCastle.Asn1.Ocsp
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@using Microsoft.Web.Helpers;
@model bacit_dotnet.MVC.Models.Suggestion.SuggestionRegisterModel
@{
    ViewBag.Title = "Propositio | Nytt Forslag";
}



<form asp-action="CreateSuggestion" asp-controller="suggestion" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()
    <!--Tittel-->
    <div class="row">
        <span class="text-danger">@ViewBag.Error</span>
        @ViewBag.Message
        <div class="form-group mb-2">
            <h6>
                @Html.LabelFor(model => model.title, htmlAttributes: new{@class = "control-label col-sm-6"})
            </h6>
            <div class="col-sm-12 align-items-center">
                @Html.TextBoxFor(model => model.title, new {@class = "form-control", @placeholder = "Skriv inn tittel..."})
                @Html.ValidationMessageFor(model => model.title, null, new {@class="text-danger"})
            </div>
        </div>
        <br />

        <!--Beskrivelse-->
        <div class="form-group mb-2 mt-2">
            <h6>
                @Html.LabelFor(model => model.description, htmlAttributes: new{@class = "control-label col-sm-6"})
            </h6>           
            <div class="col-sm-12 align-items-center">
                @Html.TextAreaFor(model => model.description, new {@class = "form-control textbox-description", @placeholder = "Skriv inn forslagsbeskrivelse...", @style = "height: 150px"})
                @Html.ValidationMessageFor(model => model.description, null, new {@class="text-danger"})
                
            </div>
        </div>
        <br />
        <!--Just Do It-->
        <div class="row mt-2">
            <div class="col form-check ms-3">
                @Html.CheckBoxFor(m => m.isJustDoIt, new{@class="form-check-input"})
                @Html.LabelFor(m => m.isJustDoIt, new{@class="form-check-label"})
            </div>
            <!--Frist-->
            <div class="col mt-2">
                 @Html.LabelFor(model => model.dueByTimestamp, new {@class="form-label"})
                @Html.EditorFor(model => model.dueByTimestamp, new {@class="form-label", type="date"})
                <span class="text-danger">@ViewBag.TimestampError</span>
            </div>
        </div>        
        <br />
        <!--Velg ansatte-->
        <div class="row mt-2">
            <div class="col-sm-8">
                <h6>Velg ansatt</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.DropDownListFor(m => m.ownership_emp_id, Model.possibleResponsibleEmployees, new {@class="form-control"})
            </div>
        </div>        
        <br />
        <!--Kategorier-->
        <div class="row mt-4">
            <div class="col-sm-8">
                <h6>Velg kategorier: </h6>
            </div>
        </div>      
        <div class="row mt-1">
            <span class="text-danger">@ViewBag.CategoryError</span>
            @foreach (CategoryEntity category in Model.categories)
            {
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@category.category_id" id="flexCheckDefault" name="@category.category_name">
                        <label class="form-check-label" for="flexCheckDefault">
                            @category.category_name
                        </label>
                    </div>
                </div>
            }
        </div>
        <br />
        <!--Legg til filer/bilder-->
        <div class="row mt-3">
            <div class="col-sm-8">
                <input type="file" name="file" />
            </div>
        </div>        
        <br />
        <!--Abryt og Lagre knapper-->
        <div class="form-group text-center mt-2">
            <button class="btn btn-outline-danger">Avbryt</button>            
            <button type="submit" class="btn btn-outline-success mx-3">Lagre</button>
        </div>
</form>
