@using Org.BouncyCastle.Asn1.Ocsp
@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@using Microsoft.Web.Helpers;
@model bacit_dotnet.MVC.Models.Suggestion.SuggestionRegisterModel
@{
    ViewBag.Title = "Propositio | Nytt Forslag";
}



<form asp-action="CreateSuggestion" asp-controller="suggestion" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()
    <!--Tittel-->
    <div class="row">
        <span class="text-danger">@ViewBag.Error</span>
        @ViewBag.Message
        <div class="form-group mb-2">
            @Html.LabelFor(model => model.title, htmlAttributes: new{@class = "control-label col-sm-6"})
            <div class="col-sm-12 align-items-center">
                @Html.TextBoxFor(model => model.title, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.title, null, new {@class="text-danger"})
            </div>
        </div>
        <br />

        <!--Beskrivelse-->
        <div class="form-group mb-2">
            @Html.LabelFor(model => model.description, htmlAttributes: new{@class = "control-label col-sm-6"})
            <div class="col-sm-12 align-items-center">
                @Html.TextBoxFor(model => model.description, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.description, null, new {@class="text-danger"})
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <!--Is Just Do It?-->
                <div class="form-check">
                    <br />
                    @Html.CheckBoxFor(m => m.isJustDoIt, new{@class="form-check-input"})
                    @Html.LabelFor(m => m.isJustDoIt, new{@class="form-check-label"})
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br />
        <div class="row">
            @Html.LabelFor(model => model.dueByTimestamp, new {@class="form-label"})
            @Html.EditorFor(model => model.dueByTimestamp, new {@class="form-label", type="date"})
            <span class="text-danger">@ViewBag.TimestampError</span>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h5>Velg ansatt</h5>
                @Html.DropDownListFor(m => m.ownership_emp_id, Model.possibleResponsibleEmployees, new {@class="form-control"})
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h5>Velg Kategorier: </h5>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!--Kategorier-->
        <div class="row">
            <span class="text-danger">@ViewBag.CategoryError</span>
            @foreach (CategoryEntity category in Model.categories)
            {
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@category.category_id" id="flexCheckDefault" name="@category.category_name">
                        <label class="form-check-label" for="flexCheckDefault">
                            @category.category_name
                        </label>
                    </div>
                </div>
            }
        </div>
        <br />
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <input type="file" name="file" />
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br />
        <div class="form-group text-center">
            <button class="btn btn-outline-danger">Avbryt</button>
            <span>&nbsp &nbsp &nbsp</span>
            <button type="submit" class="btn btn-outline-success mx-3">Lagre</button>
        </div>
</form>
