@using bacit_dotnet.MVC.Models
@using bacit_dotnet.MVC.Entities
@model LogInViewModel
@{
    Layout = "";
    ViewBag.Title = "Propositio | Logg Inn";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bacit_dotnet.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">        
            <div class="row h-25">
                <div class="col-sm-12 my-auto">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <!--Logo-->
                    <img src="/img/logo.jpeg" alt="bilde" style="width: 185px" />
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-4">
                        <span class="red">@ViewBag.ErrorMessage</span>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                    <form asp-controller="Account" asp-action="VerifyUser" method="post">
                            @Html.AntiForgeryToken()
                            <!--Navn-->
                            <div class="form-group">
                                @Html.LabelFor(m => m.emp_id)
                                @Html.TextBoxFor(m => m.emp_id, "", new {@class="form-control", @placeholder="Ansattnummer"})
                                @Html.ValidationMessageFor(m => m.emp_id,"", new {@class="text-danger"})
                            </div>
                            <br />
                            <!--Passord-->
                            <div class="form-group">
                                @Html.LabelFor(m => m.password)
                                @Html.TextBoxFor(m => m.password, "", new {@class="form-control", @placeholder="Passord", @type="password"})
                                @Html.ValidationMessageFor(m => m.password, "", new {@class="text-danger"})
                            </div>
                            <br />
                            <!--Knapper-->
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success px-4">Logg inn</button>
                            </div>
                        </form>
                        <!--Cheat-knapper for a logge seg inn-->
                        <form asp-controller="Account" asp-action="VerifyUser" method="post">
                            <input name="emp_id" value="1" hidden />
                            <input name="password" value="password" hidden />
                            <button type="submit">BrukerLogin Cheat</button>
                        </form>
                    <form asp-controller="Account" asp-action="VerifyUser" method="post">

                            <input name="emp_id" value="2" hidden="true" />
                            <input name="password" value="password1" hidden />
                            <button type="submit">Admin Cheat</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
    </div>
</body>
