@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models;
@model MyAccountViewModel;
@{
    ViewBag.Title = "Propositio | Min Side";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="home" aria-selected="true">Mine Opplysninger</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#teams" type="button" role="tab" aria-controls="profile" aria-selected="false">Mine Team</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="suggestions-tab" data-bs-toggle="tab" data-bs-target="#suggestions" type="button" role="tab" aria-controls="profile" aria-selected="false">Mine Forslag</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <div class="col-12">Navn: @Model.employee.name</div>
        <div class="col-12">Ansattnummer: @Model.employee.emp_id</div>
        <div class="col-12">Rolle: @Model.employee.role.role_name</div>
        <div class="col-12">Team</div>
        @foreach (TeamEntity team in Model.employee.teams)
        {
            <div class="col-12">@team.team_name</div>
        }
    </div>
    <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="team-tab">
        <!--foreach-loop som skriver ut alle medlemmene i teamet ditt-->
        @foreach (TeamEntity team in Model.teams)
        {
            <h3>@team.team_name</h3>
            <table>
                <tr>
                    <th>AnsattNummer</th>
                    <th>Navn </th>
                    <th>Rolle</th>
                </tr>

                @foreach (EmployeeEntity employee in team.employees)
                {
                    <tr>
                        <td>@employee.emp_id</td>
                        <td>@employee.name</td>
                        <td>@employee.role.role_name</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="tab-pane fade" id="suggestions" role="tabpanel" aria-labelledby="suggestions-tab">
        <!--foreach-loop som skriver ut forslagene til en ansatt-->
        @foreach (SuggestionEntity sugg in Model.employee.suggestions)
        {
            EmployeeEntity emp = Model.employee;
            if (Model.employee.suggestions.Count > 0)
            {
                <div class="container sugg-container">
                    <div class="row sugg-info">
                        <div class="col-2">@emp.name   @emp.authorizationRole</div>
                        <div class="col-6">
                            @foreach (var team in emp.teams)
                            {
                                @(team.team_name += " ")
                                ;
                            }
                        </div>

                        <div class="col-2 @sugg.status"></div>
                        <div class="col-2">@sugg.status</div>
                    </div>

                    <!--Suggestion-info-->
                    <div class="row">
                        <div class="col-10">
                            <p class="suggtitle">@sugg.title</p>
                            <p>@sugg.description</p>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <hr />
                    <!--Show categories for suggestion-->
                    <div class="row test">
                        <div class="col-8 categories">
                            Kategorier:
                            @foreach (var category in sugg.categories)
                            {
                                @(category.category_name += " ")
                                ;
                            }
                            <br>
                            <div class="date">
                                <span class="made">Opprettet: @sugg.timestamp.createdTimestamp.ToString("dd/M/yyyy")</span>
                                <br>
                                <span class="due">Frist: @sugg.timestamp.dueByTimestamp.ToString("dd/M/yyyy")</span>
                            </div>
                        </div>
                        <br>
                        <!--Button for Suggestion Details-->
                        <div class="col-4">
                            <br>
                            <a class="buttonDetails" asp-controller="Suggestion" asp-action="Details" asp-route-id="@sugg.suggestion_id">
                                Vis mer
                            </a>

                        </div>
                    </div>
                </div>
                <hr />
            }
        }

    </div>
</div>