@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models;
@model MyAccountViewModel;
@{
    ViewBag.Title = "Propositio | Min Side";
}
@Html.AntiForgeryToken()
<!--Overskrifter og menyvalg for Min Side-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="home" aria-selected="true">Mine Opplysninger</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#teams" type="button" role="tab" aria-controls="profile" aria-selected="false">Mine Team</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="suggestions-tab" data-bs-toggle="tab" data-bs-target="#suggestions" type="button" role="tab" aria-controls="profile" aria-selected="false">Mine Forslag</button>
    </li>
</ul>
<!--Taben for mine opplysninger-->
<div class="tab-content align-items-center" id="myTabContent">
    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
        <!--Her er informasjonen om brukeren-->
        <table class="table table-striped table-bordered">
            &nbsp;
            <h5 align="center"><b>Oversikt over mine opplysninger</b></h5>
            &nbsp;
            <!--Her ligger overskriften i tabellene-->
            <tr>
                <th scope="col">Navn</th>
                <th scope="col">Rolle</th>
                <th scope="col">Ansattnummer</th>
            </tr>
            <!--Her henter man navnet, rollen, og IDen basert på employee modellen-->
            <tr>
                <td>@Model.employee.name</td>
                <td>@Model.employee.role.role_name</td>
                <td>@Model.employee.emp_id</td>
            </tr>
        </table>
    </div>
    <!--Informasjon om hvem som er i team med brukeren-->
    <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="team-tab">
        <br />
        <!--foreach-loop som skriver ut alle medlemmene i teamet ditt-->
        <h5 align="center"><b>Oversikt over mine team</b></h5>
        @foreach (TeamEntity team in Model.teams)
        {
            <br />
            <table class="table table-striped table-bordered">
                <tr>
                    <th colspan="3" scope="col">@team.team_name &nbsp; - Teamleder: </th>
                </tr>
                <tr>
                    @*<th scope="col">AnsattNummer</th>*@
                    <th scope="col">Navn </th>
                    <th scope="col">Rolle</th>
                </tr>

                @foreach (EmployeeEntity employee in team.employees)
                {
                    <tr>
                        @*<td scope="row">@employee.emp_id</td>*@
                        <td>@employee.name</td>
                        <td>@employee.role.role_name</td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="tab-pane fade" id="suggestions" role="tabpanel" aria-labelledby="suggestions-tab">
        &nbsp;
        <h5 align="center"><b>Oversikt over mine forslag</b></h5>
        &nbsp;
        <!--foreach-loop som skriver ut forslagene til en ansatt-->
        @Html.Partial("_FilterSortControl", new SortOrderModel { actionName = "MyAccount", controllername = "Account", categories = Model.categories })
        @foreach (SuggestionEntity sugg in Model.suggestions)
        {
            @Html.Partial("_Suggestion", sugg)
        }
    </div>
</div>