@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models.AdminViewModels
@using bacit_dotnet.MVC.Models
@using Microsoft.AspNetCore;
@using bacit_dotnet.MVC.Models.AdminViewModels.TeamModels;
@model AdminEditTeamModel;
@{
    ViewBag.Title = "Admin | Rediger Team";
}
<form asp-controller="Admin" asp-action="EditTeam" method="post">
    @Html.AntiForgeryToken()
    <div class="container edit-team-container mt-3">
        <div class="row">
            <div class="col-6">
                <h2>Redigere Team</h2>                
            </div>
            <hr />
        </div>       
        <input name="team_id" value="@Model.team.team_id" hidden />
        <!--Textbox for å redigere Teamnavn-->
        <div class="form-group text-center">
            @Html.LabelFor(model =>model.team_name, htmlAttributes: new { @class = "control-label col-sm-4 fw-bold" })
            <div class="row text-center">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 mb-2">
                    @Html.EditorFor(model => model.team.team_name, new {htmlAttributes = new {@class = "form-control" }})
                </div>
            </div>
            <div class="col"></div>
        </div>
        <!--Ansatteliste Box for å legge til medlemmer i teamet-->
        <div class="row text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p>
                    <b>Legg til ansatte</b>
                    @Html.ListBoxFor(model => model.selectedMemberTeamIDs, new MultiSelectList(Model.selectListEmployees, "Value", "Text"), new {@class="form-control", multiple = "multiple"})
                </p>
            </div>
        </div>
        <!--Ansatteliste Box for å velge ett Teamleder-->
        <div class="row text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <b>Endre Teamleder</b> &nbsp;&nbsp;&nbsp;
                @Html.DropDownListFor(m => m.team_lead_id, Model.selectListForTeamLeader)
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-danger fw-bold">
                <p>@ViewBag.Error</p>
            </div>
        </div>
        <!--List av existerende medlemmer i teamet-->
        <div class="table-responsive mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Ansattnavn</th>
                        <th scope="col">Rolle</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EmployeeEntity employee in Model.team.employees)
                    {
                        <tr>
                            <td>@employee.name</td>
                            <td>@employee.role.role_name</td>
                            <td>
                                <!--Slett teammedlemmer-->
                            @Html.ActionLink("","DeleteTeamMember", "Admin", new {emp_id = employee.emp_id, team_id = Model.team.team_id}, new{onclick = "return confirm('Er du sikker på at du vil slette denne ansatt?')", @class="link-muted fas fa-trash"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--Avbryt og Lagre knapper-->
        <div class="form-group text-center">
            <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-danger">Avbryt</a>
            <button type="submit" class="btn btn-outline-success mx-3">Lagre</button>

        </div>
    </div>
</form>