@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Models.AdminViewModels;
@model bacit_dotnet.MVC.Models.AdminViewModels.AdminIndexViewModel;
<a href="newUser">Ny Bruker</a> &nbsp;&nbsp;
<a class="buttonDetails" asp-controller="Admin" asp-action="CreateNewTeam">Nytt Team</a>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="employee-tab" data-bs-toggle="tab" data-bs-target="#employees" type="button" role="tab" aria-controls="home" aria-selected="true">Ansatte</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="team-tab" data-bs-toggle="tab" data-bs-target="#teams" type="button" role="tab" aria-controls="profile" aria-selected="false">Teams</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories" type="button" role="tab" aria-controls="profile" aria-selected="false">Kategorier</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="roles-tab" data-bs-toggle="tab" data-bs-target="#roles" type="button" role="tab" aria-controls="profile" aria-selected="false">Roller</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="employees" role="tabpanel" aria-labelledby="employee-tab">
        <div class="row">
            <div class="col-sm-2">
                Ansattnummer
            </div>
            <div class="col-sm-2">
                Navn
            </div>
            <div class="col-sm-2">
                Teams
            </div>
            <div class="col-sm-2">
                Rolle
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
        </div>
        <hr />
        @foreach(EmployeeEntity emp in Model.employees){
            <div class="row">
                <div class="col-sm-2">
                    @emp.emp_id
                </div>
                <div class="col-sm-2">
                    @emp.name
                </div>
                <div class="col-sm-2">
                    @foreach(TeamEntity team in emp.teams){
                        @(team.team_name += " ")
                    }
                </div>
                <div class="col-sm-2">
                    @emp.role.role_name
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary btn-sm">Endre</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger btn-sm">Slett</button>
                </div>
            </div>
            <hr />
        }
    </div>
    <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="team-tab">
        @foreach(TeamEntity team in Model.teams){
                <a asp-controller="admin" asp-action="editteam" asp-route-id="@team.team_id" type="submit">rediger team</a>
            <div class="team-container">
                <div class="row"></div>
                <div class="row">
                    <div class="col-sm-4">Ansattnr</div>
                    <div class="col-sm-4">Navn</div>
                    <div class="col-sm-4">Rolle</div>
                </div>
                @foreach(EmployeeEntity emp in team.employees){
                <div class="row">
                    <div class="col-sm-4">@emp.emp_id</div>
                    <div class="col-sm-4">@emp.name</div>
                    <div class="col-sm-4">@emp.role</div>
                </div>
                }
            </div>
            <row></row>
        }
    </div>
    <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
    </div>
    <div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="roles-tab">
    </div>
</div>
