@using bacit_dotnet.MVC.Models;
@using bacit_dotnet.MVC.Models.AdminViewModels;
@model AdminNewUserModel;
@{
    ViewBag.Title = "Admin | Ny Bruker";
}
<!--Form for registrering av bruker-->
@using (Html.BeginForm()){
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Registrer Ny Ansatt</h4>
        @if(ViewBag.Created != ""){
           @ViewBag.Created
        }
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.emp_id, htmlAttributes: new{@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.emp_id, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.emp_id, "", new {@class="text-danger"})
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.first_name, htmlAttributes: new{@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.first_name, "", new {@class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.last_name, htmlAttributes: new{@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.last_name, "", new {@class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new{@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.password, "", new {@class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
              <br />
                <button type="submit" class="btn btn-outline-primary btn-sm">Lagre ny ansatt</button>
            </div>
        </div>
    </div>
}
   