@using System.Security.Claims
@using bacit_dotnet.MVC.Entities
@using bacit_dotnet.MVC.Helpers
@using bacit_dotnet.MVC.Models.Suggestion;
@model SuggestionEntity;

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<div class="container">
    <!--Card Start-->
    <div class="card border-secondary mt-3 w-auto">
        <!--Card-header-start-->
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <!--Ikon til å vise dersom forslag har bildet-->
                    <p class ="icon">
                        @if (Model.images.Count > 0 && Model.images.ElementAt(0) != null)
                        {
                            <img src="/img/bootstrap-icons-1.9.1/paperclip.svg" alt="Bootstrap" width="24" height="24" id="@Model.suggestion_id" />
                        }                       
                    </p>
                    <!--Forslag titel-->
                    <p class="suggtitle" style="font-size:larger">@Model.title</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <!--Status-->
                    <p class="@Model.status"></p> &nbsp;
                    <p class="sugg-status mx-2"><b>@Model.status</b></p>
                    <!--Favoritter-->
                    <p class="favourite mx-3">
                        @if (AuthorizationHelper.UserIsAny(Model.suggestion_id, Context)|| @Context.User.FindFirst(ClaimTypes.Role).ToString().Split(" ")[1].Equals("TeamLead"))
                        {

                            @if (!Model.favorite)
                            {
                                <a onclick="Fav(@Model.suggestion_id)">
                                    <img src="/img/bootstrap-icons-1.9.1/bookmark-star.svg" alt="Bootstrap" width="24" height="24" id="@Model.suggestion_id" />
                                </a>
                            }
                            else
                            {
                                <a onclick="Fav(@Model.suggestion_id)">
                                    <img src="/img/bootstrap-icons-1.9.1/bookmark-star-fill.svg" alt="Bootstrap" width="24" height="24" id="@Model.suggestion_id" />
                                </a>
                            }

                        }
                        else
                        {

                            @if (!Model.favorite)
                            {
                                <img src="/img/bootstrap-icons-1.9.1/bookmark-star.svg" alt="Bootstrap" width="24" height="24" id="@Model.suggestion_id" />

                            }
                            else
                            {
                                <img src="/img/bootstrap-icons-1.9.1/bookmark-star-fill.svg" alt="Bootstrap" width="24" height="24" id="@Model.suggestion_id" />
                            }

                        }
                    </p>                   
                   
                </div>               
            </div>    
            <!--Oprettet og Fristen til forslag-->
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <p>
                        <span class="fw-light">Opprettet: <b>@Model.timestamp.createdTimestamp.ToString("dd/M/yyyy")</b></span>
                        <span class="fw-light" style="color:#900f0e"> - Frist: <b> @Model.timestamp.dueByTimestamp.ToString("dd/M/yyyy")</b></span>
                    </p>
                    
                </div>
                <!--Kategorier-->
                <div class="d-flex flex-row align-items-center">
                    <p><b>Kategorier: </b>
                            @foreach (var category in Model.categories)
                            {
                                @(category.category_name += " ")
                                ;
                            }                    
                    </p>  
                </div>

            </div>
        </div>
        <!--Card-header-end-->

        <!--Card-body-start-->
        <div class="card-body">
            <!--Forslagsbeskrivelse-->           
            <p class="card-text">@Model.description</p>
            <div class="d-flex flex-row justify-content-end">
                <a class="moreDetailsBtn mt-1" asp-controller="Suggestion" asp-action="Details" asp-route-id="@Model.suggestion_id">
                    Vis mer
                </a>
            </div>
        </div>
        <!--Card-body-end-->

        <!--Card-footer-start-->
        <div class="card-footer text-muted bg-transparent">
             <div class="d-flex justify-content-between">
                 <!--Forfatter-->
                <div class="d-flex flex-row align-items-center">
                    <p class="text-muted"><b>Forfatter: @Model.author.name</b></p>                    
                </div>
                <!--Ansavarlig ansatt-->
                <div class="d-flex flex-row align-items-center mx-2">                    
                    <p class="text-muted"><b>Ansvarlig: @Model.responsible_employee.name</b></p>
                </div>
            </div>
            <!--Team-->
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <p class="text-muted"> <b>Team:
                    @foreach (var team in Model.author.teams)
                    {
                        @(team.team_name +=  "   ")
                    }
                        </b>
                    </p>
                </div>
                
            </div>
        </div>
        <!--Card-footer-end-->
    </div>
    <!--Card End-->
</div>
